@page
@model IndexModel
@{
    ViewData["Title"] = "Apartment List";
}

<div class="text-center">
    <h1 class="display-4">Apartment List</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Rooms</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in Model.Apartments)
            {
                <tr>
                    <td>@apartment.Id</td>
                    <td>@apartment.Name</td>
                    <td>@apartment.Address</td>
                    <td>@apartment.NumberOfRooms</td>
                </tr>
            }
        </tbody>
    </table>
</div>
